* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation */

nav {
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(32, 45%, 47%, 0.918);
}

/* styles for icon */

.icon {
  position: relative;
  left: 15%;
  font-size: 30px;
}

.fa-camera {
  color: #fff;
}

/* styles for menu */

.menu {
  width: 50vw;
  margin-right: 40px;
  display: flex;
  justify-content: space-around;
}

/* menu list */

.menu-item {
  padding: 10px 15px;
  border-radius: 5px;
  list-style-type: none;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  transition: 350ms;
  cursor: pointer;
}

.menu-item:hover {
  background-color: rgb(141, 92, 35);
}

.menu-item a {
  color: #fff;
  text-decoration: none;
}

/* header */

header {
  width: 100vw;
  height: 90vh;
  line-height: 90vh;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.39);
  background-image: url("/images/aparat.jpg");
  background-position: center;
}
